.rating-component {
  font-family: $font-primary;
  color: #4A4A4A;

  display: flex;
  flex-direction: column;
}

.container {
  padding: 30px 25px 25px;
  width: 175px;

  border: 1px solid #D2D0D2;
  border-radius: 5px;
  box-shadow: inset 0 0 4px 1px #C7C6C8;

  @media (max-width:768px) {
    align-items: center;
    width: auto;
  }
}

.description {
  font-size: 18px;
  font-weight: 600;
}

.primary-button {
  font-size: 14px;
  margin-top: 20px;
  padding: 5px 25px;
  width: 80px;
  
  border-radius: 5px;
  border: 1px solid #D2D0D2;
  background: white;
  cursor: pointer;

  @media (max-width:768px) {
    width: 100%;
  }
}

.message-container {
  font-size: 14px;
  width: 175px;
  margin-bottom: 10px;
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: 600;

  text-align: center;
  color: white;

  @media (max-width:768px) {
    flex: 1;
    width: auto;
  }
}

.stars-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;

  margin-top: 20px;

  > .star {
    margin: 0 5px;

    &:hover,
    &:focus {
      ~ .star {
        fill: $color-active-star;
      }
    }
  }
}

// EFFECTS
.fade-in {
  opacity: 1;
}

.fade-out {
  transition: opacity .15s linear;
  opacity: 0;
}