.star-wrapper {
  width: 28px;
  height: 25px;
}

.star:hover {
  cursor: pointer;
}

.stars-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin-top: 20px;

  input {
    opacity: 0;
    
    &:hover,
    &:focus,
    &:checked {
      ~ label .star {
        fill: #4A90E2;
      }
    }
  }
  
  .star {
    fill: #E3E6E9;
  }
}