.rating-component {
  display: flex;
  flex-direction: column;

  color: #4A4A4A;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  @media (max-width:768px) {
    .message-container {
      flex: 1;
      width: auto;
    }

    .container {
      align-items: center;
      width: auto;

      .primary-button {
        width: 100%;
      }

      &.non-interactive {
        width: auto;
      }
    }
  }
}

.container {
  padding: 30px 25px 25px;
  width: 175px;
  border: 1px solid #D2D0D2;
  border-radius: 5px;
  box-shadow: inset 0 0 4px 1px #C7C6C8;

  &.non-interactive {
    display: flex;
    flex-direction: row;

    padding: 25px;
    align-items: center;
    width: 310px;
  
    .stars-container {
      display: inline-flex;
      margin-left: 15px;
      margin-top: 0;

      > .star-wrapper {
        margin: 0 2px;
      }
    }

    .star-wrapper {
      width: 22px;
      height: 20px;
    }
  }
}

.description {
  font-size: 18px;
  font-weight: 600;
}

.primary-button {
  margin-top: 20px;
  font-size: 14px;
  padding: 5px 25px;
  background: white;
  border-radius: 5px;
  border: 1px solid #D2D0D2;
  cursor: pointer;
  width: 80px;
}

.message-container {
  font-size: 14px;
  font-weight: 600;
  width: 175px;
  margin-bottom: 10px;
  padding: 15px 25px;
  text-align: center;
  color: white;
  border-radius: 5px;
}

.stars-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin-top: 20px;

  > .star-wrapper {
    margin: 0 5px;

    &:hover,
    &:focus {
      ~ .star-wrapper .star {
        fill: #4A90E2;
      }
    }
  }
}

.disabled {
  color: #B4B4B4;
}

.success {
  background: #7ED321;
}

// EFFECTS
.fade-in {
  opacity: 1;
}

.fade-out {
  transition: opacity .15s linear;
  opacity: 0;
}