.star-wrapper {
  width: 28px;
  height: 25px;

  &:hover,
  &:focus {
    cursor: pointer;

    .star {
      fill: #4A90E2;
    }
  }

  .star {
    fill: #E3E6E9;
  }

  &.active {
    .star {
      fill: #4A90E2;
    }
  }
}

.disabled {
  star-wrapper {
    .star {
      opacity: 0.4;
    }
  }
}